.table-viewer {
  margin: 0px 12px;
  overflow: scroll;
}

.table {
  --grid-line-weight: 0.4px;

  border-collapse: collapse;
}

.table__top-left-cell {
  background-color: white;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.table__time-label-cell {
  background-color: white;
  position: sticky;
  top: 0px;

  width: 90vw; /* stretch width */
}

.table__time-label {
  display: flex;
  width: 0px;
  justify-content: center;
  position: relative;
  left: calc(var(--grid-line-weight) / -2);

  color: #4f4f4f;
  font-weight: normal;
  font-size: 12px;
}

.table__seat-label-cell {
  background-color: white;
  position: sticky;
  left: 0px;
  padding-right: 12px;

  color: #333333;
  font-weight: normal;
  font-size: 13px;
  text-align: left;
}

.table__cell {
  border: var(--grid-line-weight) dotted #e0e0e0;
}

.table__cell--hour {
  border-left: var(--grid-line-weight) solid #e0e0e0;
}

.table__cell--available {
  background-color: white;
}

.table__cell--reserved {
  background-color: #e0e0e0;
  padding: 0.5px;
  background-clip: content-box;
}
