.table-viewer {
  width: 100%;
  height: 100%;
  padding: 0px 12px;
  box-sizing: border-box;
  overflow: hidden;
}

.table-viewer_ {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.table {
  --grid-line-weight: 0.1px;

  border-collapse: collapse;
}

.top-header {
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.time-header-cell {
  /* stretch width */
  width: 100vw;
}

.time-header-cell-container {
  container-type: inline-size;
}

.time-header-label {
  display: flex;
  width: 0px;
  justify-content: center;
  position: relative;
  left: calc(var(--grid-line-weight) / -2);

  font-weight: normal;
}

.time-header-label--full-hour {
  font-size: 12px;
  color: #4f4f4f;
}

.time-header-label--quarter-hour {
  font-size: 11px;
  color: #969696;
  visibility: hidden;
}

@container (width >= 45px) {
  .time-header-label--quarter-hour {
    visibility: visible;
  }
}

@container (width < 7px) {
  .top-header
    > .time-header-cell:nth-child(
      even of :has(.time-header-label--full-hour)
    )
    > .time-header-cell-container
    > .time-header-label {
    visibility: hidden;
  }
}

.seat-header-cell {
  height: 24px;
  background-color: white;
  position: sticky;
  left: 0px;
  padding-right: 12px;
  border: var(--grid-line-weight) #cfcfcf;
  border-style: solid solid solid none;

  color: #333333;
  font-weight: normal;
  font-size: 13px;
  text-align: left;
}

.cell {
  border-width: var(--grid-line-weight);
  border-style: solid dashed;
  border-color: #cfcfcf;
}

.cell--hour {
  border-width: var(--grid-line-weight);
  border-style: solid dashed solid solid;
  border-color: #cfcfcf #cfcfcf #cfcfcf #b8b8b8;
}

.cell--available {
  background-color: white;
}

.cell--reserved {
  background-color: #e7e7e7;
}
