/* horizontal dividers */

.dashed-divider {
  border-bottom: 0.5px dashed #bdbdbd;
}

.solid-divider {
  border-bottom: 1px solid #d9d9d9;
}

/* toolbar */

#toolbar {
  /* margin: 10px 12px; */
  padding: 8px 16px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

/* app container */

#app-container {
  width: 100%;
  height: 100vh;
  display: grid;
  gap: 0px;
  grid-template-rows: repeat(7, min-content) auto;
}
