/* horizontal dividers */

.dashed-divider {
  border-bottom: 0.5px dashed #bdbdbd;
}

.solid-divider {
  border-bottom: 1px solid #d9d9d9;
}

/* toolbar */

#toolbar {
  padding: 8px 16px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

/* app container */

#app-container {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 0px;
  grid-template-rows: repeat(7, min-content) auto;
}

/* center div */

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
