.custom-radio-fieldset {
  border: none;
  padding: 0 0 0 6px;
  margin: 0;
  flex-grow: 1;
  height: 100%;

  display: flex;
  gap: 24px;
}

.custom-radio-label {
  font-size: 14px;
  height: 100%;

  display: flex;
  align-items: center;
  gap: 6px;
}

.custom-radio-button {
  width: 14px;
  height: 14px;
  margin: 0px;
}
