.legend {
  display: flex;
  gap: 9px;
}

.legend-item {
  display: flex;
  gap: 5px;
  align-items: center;
}

.legend-item-icon {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  width: 8px;
  height: 12px;
}

.legend-item-label {
  font-size: 12px;
}
