/* horizontal dividers */

.dashed-divider {
  border-bottom: 0.5px dashed #bdbdbd;
}

.solid-divider {
  border-bottom: 1px solid #d9d9d9;
}

/* view map */

#view-map-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#view-map-button__icon {
  width: 20px;
  height: 20px;
}

#view-map-button__icon {
  font-size: 12px;
}
